
<footer class="mt-20 w-full border-primary border-t-2 flex flex-col md:flex-row justify-center items-center md:justify-between pt-10 pb-20 gap-y-10" >
  <span class="text-primary text-center">
    © 2024 La Velada del Año <span aria-hidden class="hidden md:inline" >|</span> <br aria-hidden class="block md:hidden" /> Todos los derechos reservados.
  </span>

  <ul class="flex flex-row gap-x-6 items-center">
    <li>
      <a
        class="hover:scale-125 hover:opacity-70 transition inline-block"
        href="https://github.com/gabriel-roque/la-velada-web-clone"
        target="_blank" 
        rel="noopener">
        <img src="./instagram.png" alt="instagram" class="w-6 h-6" />
      </a>
    </li>
    <li>
      <a
        class="hover:scale-125 hover:opacity-70 transition inline-block"
        href="https://github.com/gabriel-roque/la-velada-web-clone"
        target="_blank" 
        rel="noopener">
        <img src="./twitter.png" alt="twitter" class="w-6 h-6" />
      </a>
    </li>
    <li>
      <a
        class="hover:scale-125 hover:opacity-70 transition inline-block"
        href="https://github.com/gabriel-roque/la-velada-web-clone"
        target="_blank" 
        rel="noopener">
        <img src="./tiktok.png" alt="tiktok" class="w-6 h-6" />
      </a>
    </li>
    <li>
      <a
        class="hover:scale-125 hover:opacity-70 transition inline-block"
        href="https://github.com/gabriel-roque/la-velada-web-clone"
        target="_blank" 
        rel="noopener">
        <img src="./youtube.png" alt="youtube" class="w-6 h-6" />
      </a>
    </li>
    <li>
      <a
        class="hover:scale-125 hover:opacity-70 transition inline-block"
        href="https://github.com/gabriel-roque/la-velada-web-clone"
        target="_blank" 
        rel="noopener">
        <img src="./twitch.png" alt="twitch" class="w-6 h-6" />
      </a>
    </li>

  </ul>
</footer>