---
import HeroLogo from '@/components/HeroLogo.astro';

---

<section class="animate-fade-in animate-delay-300  flex flex-col items-center justify-center gap-9">
  <span class="animate-fade-in animate-delay-300 uppercase text-xl bg-primary text-secondary px-6 py-1 font-medium">
    Presentación de la
  </span>
  <HeroLogo class="text-primary h-auto w-full md:w-[800px]" />  
</section>